body {
    background: rgb(223, 128, 128);
    color: white;
    max-width: 600px;
    margin: auto;
}

p {
    line-height: 1.6;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid white;
}